* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  margin-bottom: 3rem;
}

.message {
  margin-bottom: 20px;
}

.restart-btn {
  margin-top: 30px;
  width: 120px;
  height: 30px;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}

.board button {
  border: none;
  font-size: 4rem;
}

/* Add borders to create the Tic Tac Toe grid */
.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
  border-bottom: 3px solid black;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-top: 3px solid black;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
  border-right: 3px solid black;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
  border-left: 3px solid black;
}
